.button {
    background-image: linear-gradient(to right, #E0E0E0 0%, #fff 60%, #E0E0E0 100%);
    border-bottom: 3px solid #E0E0E0;
    -webkit-box-shadow: inset 0 -7px #E0E0E0;
    box-shadow: inset 0 -7px #E0E0E0;
    box-shadow: initial 0 -7px #E0E0E0;

}
.button4 {border-radius: 25px;}