html {
    min-height: 100%;
    position: relative;
}
body {
    background-color: #F0F0EE;
    margin: 0;
    margin-bottom: 100px;
}
.header-img {
    /* background-image: url('/images/principal/header.png'); */
    height: 60px;
}
.nav-color {
    background-color: #666666;
}
.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-color {
    background-color: #262626;
    color: white;
}
.footer-display {
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 85px;
}
.footer p {
    margin-bottom: 0;
}
.pagination:nth-child(0n+3){
  display: inline-block;
}

.pagination:nth-child(0n+3) li{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination:nth-child(0n+3) li.active {
  background-color: #2392E5;
  color: white;
  border: 1px solid #2392E5;
}

.pagination:nth-child(0n+3) li:hover:not(.active) {background-color: #ddd;}

.pagination:nth-child(0n+3) li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination:nth-child(0n+3) li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}